{
   "printWidth": 80,
   "tabWidth": 3,
   "useTabs": false,
   "semi": false,
   "singleQuote": true,
   "jsxSingleQuote": false,
   "trailingComma": "all",
   "bracketSameLine": false,
   "arrowParens": "avoid",
   "endOfLine": "auto"
}
