.clients-feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2-style {
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 18px;
  color: var(--title-of-block);
  @media (min-width: 768px) {
    margin-top: 18px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
  }
  @media (min-width: 1360px) {
    margin-top: 25px;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
  }
}

.commentary-container {
  display: flex;
  gap: 79px;
  overflow-x: scroll;
  width: 92vw;
  scroll-snap-type: x mandatory;
  min-height: 250px;
  @media (min-width: 768px) {
    justify-content: space-around;
    overflow-x: unset;
  }
  @media (min-width: 1360px) {
    gap: 190px;
  }
}
.review {
  padding: 26px 12px 18px 35px;
  background: var(--orange-permanent);
  min-width: 226px;
  max-width: 470px;
  position: relative;
  &:first-child {
    margin-left: 25px;
  }
  scroll-snap-align: end;
  @media (min-width: 768px) {
    min-width: 292px;
  }
  @media (min-width: 1360px) {
  }
}
.cover img {
  border-radius: 50%;
  position: absolute;
  left: -25px;
  width: 50px;
  height: 50px;
}
.author {
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  color: var(--white-permanent);
  margin-bottom: 8px;
  text-align: left;
  @media (min-width: 768px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
  }
  @media (min-width: 1360px) {
    font-size: 25px;
  }
}

.position {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 123.6%;
  color: var(--white-permanent);
  margin-bottom: 12px;
  text-align: left;
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 150.6%;
  }
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  color: var(--white-permanent);
  text-align: left;
}

.pagination {
  display: flex;
  gap: 4px;
  margin-top: 60px;
}
.non-animated {
  transform: rotate3d(1, 0, 0, -90deg);
  transition: 1s;
}
.animated {
  transform: rotate3d(1, 0, 0, 0deg);
  transition: 1s;
}
