.h2 {
  text-align: center;
  margin: 8px 0 30px 0;
  font-weight: 600;
  font-size: 39.0625px;
  line-height: 59px;
  color: var(--h2-gray);
}
.blocks ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.blocks li {
  width: 370px;
  min-height: 300px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 20px 20px 25px;
}
.blocks li p {
  margin-top: 15px;
}
.blocks li h3 {
  margin-top: 15px;
  font-weight: 600;
}
.blocks li h5 {
  font-weight: 500;
  font-size: 12.8px;
  line-height: 19px;
  color: var(--p-color);
  margin: 5px 0 15px 0;
}
.number {
  font-weight: 600;
  font-size: 64px;
  line-height: 73px;
  color: #efefef;
}
.container-for-image {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .h2 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .h2 {
    font-size: 30px;
  }
  .paragraph {
    text-align: left;
  }
}
