@use '../../mixins/mixins.variables.scss';

.container-for-content {
  margin-top: 15px;

  ul {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    li button {
      all: unset;
      padding: 0 50px;
      height: 60px;
      font-weight: 500;
      // font-size: 20px;
      line-height: 30px;
      color: #7b7b7b;
      text-align: center;
      transition: 0.2s;
      border-radius: 10px;
      transition: 0.2s;
      &:active {
        transition: 0.2s;
      }
    }
  }
}
.h2-styles {
  @include mixins.h2-styles;
  text-align: center;
}

.blocks {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      max-height: 313px;
      width: 390px;
    }
  }
}
.burger {
  display: none;
}
@media (max-width: 1200px) {
  .ul-burger {
    overflow-x: scroll;
  }
  .blocks {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .burger {
    display: none;
  }
  .container-for-content button {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .ul-burger {
    overflow-x: scroll;
  }
  .blocks {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .burger {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
  }
  .ul-burger {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    gap: 10px;

    li {
      &:hover {
        background-color: #ff5300;
        transition: 0.2s;
        text-align: center;
        button {
          color: white;
        }
      }
    }
  }
}
