ul{
  li{
    color: red;
  }
@media (max-width:727px){
  li {
    color: black
  }
}
}

ol{
  li {
     color: aqua;
  }
}

.test {
  ul {
    li{
      nav{
      ul{
        li{
          color: black
        }
      }
    }}
  }
}
