.container {
  display: flex;
  gap: 5px;

  flex-direction: column;
  z-index: 20;

  @media (max-width: 768px) {
    display: none;
  }
  li {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    background-color: var(--site-blocks-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:active {
      background-color: var(--orange-permanent);
    }
    svg path {
      fill: var(--orange-to-white);
    }
    &:active {
      svg path {
        fill: var(--white-permanent);
      }
    }
  }
}
