@use '../../mixins/mixins.variables.scss';

.about-us {
  display: flex;
  position: relative;
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    li {
      display: flex;
      height: 100%;
      align-items: center;
      gap: 17px;
    }
  }
}

.h2-style {
  @include mixins.h2-styles;
  margin-top: 15px;
  margin-bottom: 20px;
}
.paragraph {
  @include mixins.paragraph-style;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .about-us {
    align-items: center;
  }
  .container-for-img {
    img {
      width: 329px;
    }
  }
}
@media (max-width: 767px) {
  .about-us {
    display: flex;
    flex-direction: column-reverse;
  }
  .container-for-img {
    img {
      width: 100%;
    }
  }
  .title-of-page {
    position: absolute;
    top: -40px;
    left: calc(50% - 70px);
    margin-top: 20px;
  }
}
