.container-for-content {
  margin-top: 15px;
}
.container-for-content ul {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.ul-burger button {
  background-color: none;
  border: none;
  outline: none;
  padding: 0 50px;
  height: 60px;
  font-weight: 500;
  line-height: 30px;

  font-size: 17px;

  color: var(--p-color);
  text-align: center;
  /* transition: 0.2s; */
  border-radius: 10px;
}
.container-for-content ul li button:active {
  /* transition: 0.2s; */
}
.h2-styles {
  text-align: center;
}
.blocks ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1170px;
  margin: 0 auto;
}
.blocks ul li {
  max-height: 313px;
  max-width: 390px;
}
.burger {
  display: none;
}
.li-hover {
  position: relative;
  cursor: pointer;
}
.li-hover picture img {
  width: 100%;
}
.orange-box {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80%;
  opacity: 0.75;
  margin-left: 10%;
  margin-top: 10%;
  background-color: var(--background);
  top: 0;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.orange-box h2 {
  color: var(--white);
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  margin-top: 21.5px;
}

.orange-box img {
  width: 37.5px;
}
.width-button button {
  width: none;
}
@media (max-width: 1200px) {
  .orange-box h2 {
    font-size: 20px;
  }

  .orange-box img {
    width: 32px;
  }
  .ul-burger {
    flex-wrap: wrap;
  }
  .blocks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .burger {
    display: none;
  }
  .container-for-content button {
    font-size: 16px;
  }
  .width-button button {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .width-button {
    width: 100%;
  }

  .ul-burger {
    overflow-x: scroll;
  }

  .blocks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .burger {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
  }
  .ul-burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .orange-box h2 {
    font-size: 16px;
    font-weight: 500;
  }
  .orange-box img {
    width: 28px;
  }
  .ul-burger button {
    padding: 0;
  }
}
