.header {
  height: 100px;
  align-items: center;
  padding: 0 135px;
  gap: 28px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: var(--background-pinterest-component);
}
.logo span {
  color: var(--title-header-first);
}
.logo p {
  font-size: 39.06px;
  line-height: 46px;
  color: var(--title-header-second);
}
.logo a {
  text-decoration: none;
}
.navigation {
  display: flex;
  align-items: center;
  ul {
    li {
      a {
        color: var(--header-nav);
        text-decoration: none;

        &:active {
          color: var(--header-nav-active);
        }
      }
    }
  }
}
.navigation ul {
  display: flex;
  gap: 29px;
  margin-right: 40px;
  font-weight: 500;
  font-size: 20px;
}
.navigation li {
  color: black;
}
.navigation li:active {
  color: var(--background);
}
.nav-ul {
  display: none;
}
.lets-talk button {
  all: unset;

  height: 50px;
  width: 135px;
  border: 2px solid var(--header-nav);
  color: var(--header-nav);
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
.header-second {
  display: none;
}
@media (max-width: 1200px) {
  .logo p {
    font-weight: 600;
    font-size: 20px;
    line-height: 123.6%;
  }
  .nav-ul {
    display: none;
  }
  .header-second {
    display: none;
  }
  .header {
    height: 80px;
    align-items: center;
    padding: 0 40px;
    gap: 28px;
    display: flex;
    justify-content: space-between;
  }
  .logo img {
    width: 83px;
    height: 25px;
  }
  .navigation {
    display: flex;
    align-items: center;
    ul {
      li {
        a {
          color: var(--header-nav);
          text-decoration: none;

          &:active {
            color: var(--header-nav-active);
          }
        }
      }
    }
  }
  .navigation ul {
    display: flex;
    gap: 29px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150.6%;
  }
  .navigation li {
    text-align: center;
  }
  .lets-talk button {
    all: unset;
    border: 2px solid var(--header-nav);
    color: var(--header-nav);
    height: 30px;
    width: 85px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .lets-talk button {
    border: 2px solid var(--header-nav);
    color: var(--header-nav);
  }
  .logo p {
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
  }
  .nav-ul {
    display: flex;
    position: absolute;
    background-color: var(--white);

    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    align-items: left;
    line-height: 150.6%;
    right: 0;
    padding: 20px;
    width: 100%;
    text-align: center;
    z-index: 100;
  }
  .nav-ul li {
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: var(--h3-orange);
      a {
        color: white;
      }
    }
    a {
      text-decoration: none;
      color: black;
      &:active {
        color: var(--h3-orange);
      }
    }
  }

  .nav-ul li:hover {
    color: var(--h3-orange);
  }
  .header {
    display: none;
  }
  .header-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 16px;
    background-color: var(--background-pinterest-component);
  }
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    ul {
      li {
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
  .sun {
    position: absolute;
    left: calc(50% - 12px);
  }
  .sun button {
    all: unset;
    height: 24px;
    align-items: center;
  }
}

.visible {
  transform: rotate3d(1, 0, 0, 90deg);
  transform-origin: top;
  pointer-events: none;
  transition: 0.5s;
}

.animated {
  animation: animated-burger 0.5s ease-in-out;
  transform-origin: top;
  background-color: var(--background-second-color);

  a {
    color: var(--header-nav);
    text-decoration: none;

    &:active {
      color: var(--header-nav-active);
    }
  }
}

@keyframes animated-burger {
  0% {
    transform: rotate3d(1, 0, 0, 90deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}
