.wrapper {
  padding: 57px 135px 0px 135px;
  background: url(/src/assets/images/footer-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
}
.data-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: var(--h3-orange);
}
.container p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--white);
}
.logo-footer span {
  color: var(--h3-orange);
}
.logo-footer h3 {
  font-size: 39.06px;
  line-height: 46px;
  color: var(--white);
}
.logo-footer p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}
.container-of-buttons {
  display: flex;
  gap: 20px;
  margin-top: 11px;
}
.container-of-buttons button {
  all: unset;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container-of-buttons button:active svg path {
  fill: var(--h3-orange);
}
.copyright-container {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--white);
  margin-top: 60px;
  align-items: center;
}
.text-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.text-content:first-child {
  font-size: 20px;
}
.text-content:last-child {
  font-size: 16px;
  line-height: 150.6%;
  color: var(--white);
}
@media (max-width: 1200px) {
  .wrapper {
    padding: 57px 70px 0px 70px;
  }
  .data-footer {
    gap: 20px;
  }
  .container-of-buttons {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 57px 40px 20px 40px;
  }
  .data-footer {
    gap: 20px;
  }
  .container-of-buttons {
    margin: 0;
    flex-wrap: wrap;
  }
  .copyright-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .text-content {
    word-wrap: break-word;
    gap: 20px;
    margin-top: 20px;
  }
  .text-content:first-child {
    font-size: 20px;
  }
  .text-content:last-child {
    font-size: 10px;
    line-height: 150.6%;
    color: var(--white);
  }
}
