.buttons-container {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid var(--background);
  background-color: transparent;
  color: var(--background);
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  &:hover {
    background-color: rgba(255, 85, 0, 0.253);
  }
  &:active {
    background-color: var(--background);
    color: white;
  }
}

.active-button {
  background: var(--background);
  color: white;
}
