.header-mobile {
  height: 50px;
  width: 100%;
  background-color: var(--header-background-white);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 13px 17px;
  z-index: 4;
  position: fixed;
  width: 100%;
  .button-burger {
    justify-content: flex-end;
  }

  a {
    text-decoration: none;
    p {
      display: flex;
      justify-content: flex-start;
    }
  }
  p {
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: center;
    color: var(--title-header-second);
    span {
      color: var(--orange-permanent);
    }
    &:active {
      color: var(--h3-orange);
    }
  }
  .img-position {
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
.header-mobile > * {
  flex: 1;
}
.header-pc {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 27px 40px;
  background-color: var(--header-background-white);
  position: fixed;
  width: 100%;
  z-index: 4;
  nav {
    ul {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 150.6%;
        text-align: center;
        color: var(--h2-gray);
        @media (min-width: 1360px) {
          font-weight: 500;
          font-size: 20px;
          line-height: 123.6%;
        }
        a {
          text-decoration: none;
          color: var(--header-nav);
          &:active {
            color: var(--h3-orange);
          }
        }
      }
      @media (min-width: 1360px) {
        gap: 38px;
      }
    }
  }
  a {
    text-decoration: none;

    p {
      color: var(--title-header-second);
      font-weight: 600;
      font-size: 20px;
      line-height: 123.6%;
      span {
        color: var(--orange-permanent);
      }

      @media (min-width: 1360px) {
        font-weight: 600;
        font-size: 39.06px;
        line-height: 123.6%;
      }
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 1360px) {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 135px;
  }
}

.button-burger {
  all: unset;
  cursor: pointer;
}

.navigation-mobile {
  display: flex;
  flex-direction: column;

  background-color: white;

  position: absolute;
  right: 0;
  top: 48px;
  width: 100%;
  text-align: center;
  z-index: 100;
  li:active {
    color: var(--h3-orange);
  }
  li:hover {
    background-color: var(--h3-orange);
    a {
      color: var(--orange-permanent);
    }
  }
  li {
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--header-background-white);
    a {
      text-decoration: none;
      color: var(--header-nav);
      &:active {
        color: var(--orange-permanent);
      }
    }
  }
}

.visible {
  transform: rotate3d(1, 0, 0, 90deg);
  transform-origin: top;
  pointer-events: none;
  transition: 0.5s;
}

.animated {
  animation: animated-burger 0.5s ease-in-out;
  transform-origin: top;
}

@keyframes animated-burger {
  0% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  50% {
    opacity: 0.5;
  }

  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

/* @keyframes animated-burger-reverse {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
} */
