.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
  }
}

.form-image {
  width: 100%;
  margin-bottom: 50px;
  @media (min-width: 768px) {
    max-width: 342px;
  }
  @media (min-width: 1360px) {
    max-width: 632px;
  }
}

.form-h2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  color: var(--h2-style);
  text-align: center;
  margin-bottom: 18px;

  @media (min-width: 768px) {
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    text-align: left;
  }
  @media (min-width: 1360px) {
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
  }
}
.content-container {
  width: 100%;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.two-input-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 18px;
  width: 100%;
  input {
    all: unset;
    background: #ffffff;
    height: 24px;
    padding: 18px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 150.6%;
      color: var(--p-color);
    }
  }
}

.text-area {
  all: unset;
  width: 100%;
  min-height: 163px;
  line-break: anywhere;
  background: #ffffff;
  height: 24px;
  display: flex;
  flex-direction: column;
  padding: 18px;
  box-sizing: border-box;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    width: 100%;
  }
}
.text-area-container {
  margin-bottom: 25px;
}
.input-with-error {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  max-width: 330px;
}
