:root {
  /* --white: #3a3b3c;
  --p-color: #fff;
  --h2-color: #ffff;
  --title-of-page: #ff5300;
  --background: #ff5300;
  --h3-orange: #ff5300;
  --border: white;
  --background-comp: #242526;
  --border-gray: #373737;
  --svg-color: #ff5300;
  --border-orange: #ff5300;
  --h2-gray: #fff;
  --aqua: #00acff;
  --footer-background: #373737; */
  --paragraph: #fff;
  --pre-title-of-blog: #fff;
  --title-of-block: #fff;
  --background-pinterest-component: #242526;
  --background-second-color: #3a3b3c;
  --background-color-white: #18191a;
  --orange-permanent: #ff5300;
  --white-permanent: #fff;
  --paragraph-permanent: #7b7b7b;
  --black-to-white: #fff;

  --title-header-first: #ff5300;
  --title-header-second: #fff;
  --header-nav: #fff;
  --header-nav-active: #ff5300;
  --home-hero-h1-color: #fff;
  --smart-button: #ff5300;
  --our-services-blocks: #242526;
  --our-services-number: #fffbfb;
  --about-us-li: #fff;
  --our-testimonial-blocks: #18191a;
}
