:root {
  --paragraph: #fff;
  --pre-title-of-blog: #fff;
  --title-of-block: #fff;
  --background-colorful-component: #242526;
  --background-second-color: #3a3b3c;
  --background-color-white: #18191a;
  --orange-permanent: #ff5300;
  --white-permanent: #fff;
  --paragraph-permanent: #7b7b7b;
  --black-to-white: #fff;
  --orange-to-white: #fff;
  --aqua-permanent: #00acff;
  --almost-black-permanent: #373737;

  --title-header-first: #ff5300;
  --title-header-second: #fff;
  --header-nav: #fff;
  --header-nav-active: #ff5300;
  --home-hero-h1-color: #fff;
  --smart-button: #ff5300;
  --our-services-blocks: #242526;
  --our-services-number: #fffbfb;
  --about-us-li: #fff;
  --our-testimonial-blocks: #18191a;
  --site-blocks-background: #3a3b3c;
  --site-blocks-svg: #fff;
  --header-background-white: #3a3b3c;
}
