:root {
  --paragraph: #7b7b7b;
  --pre-title-of-blog: #ff5300;
  --title-of-block: #373737;
  --background-colorful-component: #fff7f4;
  --background-second-color: #fff;
  --background-color-white: #fff;
  --orange-permanent: #ff5300;
  --white-permanent: #fff;
  --paragraph-permanent: #7b7b7b;
  --black-to-white: #000;
  --orange-to-white: #ff5300;
  --aqua-permanent: #00acff;
  --almost-black-permanent: #373737;

  --title-header-first: #ff5300;
  --title-header-second: #000;
  --header-nav: #373737;
  --header-nav-active: #ff5300;
  --home-hero-h1-color: #373737;
  --smart-button: #ff5300;
  --our-services-blocks: #fff;
  --our-services-number: #efefef;
  --about-us-li: #373737;
  --orange-svg: #ff5300;
  --our-testimonial-blocks: #fff;
  --site-blocks-background: #fff;
  --site-blocks-svg: #ff5300;
  --header-background-white: #fff;
}
