.posts-container {
  padding: 50px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  @media (min-width: 768px) {
    padding: 60px 0px 120px 50px;
  }
  @media (min-width: 1360px) {
    padding: 120px 0px 120px 135px;
  }
}

.post {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 770px;
  img {
    width: 100%;
  }
  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    margin-top: 20px;
    margin-bottom: 18px;
    @media (min-width: 768px) {
      font-size: 25px;
    }
    @media (min-width: 1360px) {
      font-weight: 600;
      font-size: 31.25px;
      margin-top: 40px;
    }
  }
}

.data-author-comment {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.dac-content {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 18px;
    height: 18px;
  }
  p {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 123.6%;
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 150.6%;
    }
    @media (min-width: 1360px) {
      font-weight: 500;
      font-size: 20px;
      line-height: 123.6%;
    }
  }
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  text-align: left;
  margin-bottom: 30px;
}
