.our-expereince-container {
  padding: 50px 16px;
  background-color: var(--background-comp);
  display: flex;
  flex-direction: column;
  align-items: center;
  .visible-papragraph-1 {
    @media (min-width: 1360px) {
      display: none;
    }
  }
  .visible-papragraph-2 {
    display: none;
    @media (min-width: 1360px) {
      display: block;
    }
  }
  .first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      color: black;
      font-weight: 500;
      font-size: 25px;
      line-height: 123.6%;
      margin-bottom: 18px;
      span {
        color: var(--h3-orange);
      }
      @media (min-width: 768px) {
        font-weight: 600;
        font-size: 31.25px;
        text-align: left;
      }
      @media (min-width: 1360px) {
        font-size: 39.06px;
      }
    }
    @media (min-width: 768px) {
      align-items: baseline;
      margin-right: 24px;
    }
    @media (min-width: 1360px) {
    }
  }
  .title-of-page {
    margin-bottom: 18px;
    @media (min-width: 1360px) {
      margin-bottom: 25px;
    }
  }
  .paragraph-1 {
    margin-bottom: 40px;
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  .paragraph-2 {
    margin-bottom: 25px;
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
      margin-bottom: 32px;
    }
    @media (min-width: 1360px) {
      margin-bottom: 50px;
    }
  }
  .button {
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  .blocks-container {
    width: 100%;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .blocks-first {
    margin-bottom: 25px;
  }

  .block {
    width: 100%;
    text-align: center;
    background-color: var(--white);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 71px 0px;
    h3 {
      font-weight: 600;
      font-size: 48px;
      line-height: 123.6%;
      color: var(--h2-color);
      text-transform: capitalize;
      margin-bottom: 18px;
    }
    p {
      font-weight: 400;
      font-size: 25px;
      line-height: 123.6%;
      color: var(--p-color);
    }
  }
  /* новыйстиль   */
  .nex-container {
    position: relative;
    width: 350px;
    height: 308px;
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }
    @media (min-width: 1360px) {
    }
  }
  .test-block {
    position: absolute;
  }
  .test-block-style {
    width: 162px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      @media (min-width: 1447px) {
        font-weight: 500;
        font-size: 20px;
        line-height: 123.6%;
      }
    }
    h3 {
      @media (min-width: 768px) {
        color: var(--h2-color);
        text-transform: capitalize;
        margin-bottom: 18px;
        font-weight: 500;
        font-size: 25px;
        line-height: 123.6%;
      }
      @media (min-width: 1447px) {
        font-weight: 700;
        font-size: 48px;
        line-height: 123.6%;
        text-transform: capitalize;
      }
    }

    @media (min-width: 1447px) {
      width: 270px;
      height: 250px;
    }
  }
  .position-test-1 {
    left: 0;
    top: -10%;
    @media (max-width: 1018px) {
      left: 0;
      top: -51%;
    }
    @media (min-width: 1447px) {
      left: 0;
      top: -32%;
    }
  }
  .position-test-2 {
    right: 14px;
    top: 0px;
    @media (max-width: 1018px) {
      left: 0;
      top: 53%;
    }
    @media (min-width: 1447px) {
      right: -218px;
      top: -76px;
    }
  }
  .margin-bottom-block {
    margin-bottom: 8px;
    @media (min-width: 1447px) {
      margin-bottom: 30px;
    }
  }
  @media (min-width: 768px) {
    padding: 60px 40px;
    flex-direction: row;
    /* новыйстиль */
    justify-content: space-between;
  }
  @media (min-width: 1360px) {
    padding: 83px 135px;
    justify-content: flex-start;
  }
}
