.about-us {
  display: flex;
  position: relative;
  justify-content: center;
}
.about-us-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  transition: 1s;
  margin-left: -20px;
}

.about-us-ul li {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 17px;
}
.h2-style {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: -20px;
  opacity: 0;
  transition: 1s;
}
.paragraph {
  margin-bottom: 20px;
  opacity: 0;
  transition: 0.3s;
  margin-left: -20px;
}
.second-title {
  display: none;
}
.visible {
  opacity: 1;
  transition: 1s;
  margin-left: 0;
}
.visible-paragraph {
  opacity: 1;
  transition: 1s;
  margin-left: 0px;
}
.visible-ul {
  opacity: 1;
  transition: 1s;
  margin-left: 0px;
}
.container-for-img {
  opacity: 0;
  margin-right: -20px;
  transition: 1s;
}
.visible-img {
  opacity: 1;
  transition: 1;
  margin-right: 0px;
}
@media (max-width: 1200px) {
  .about-us {
    align-items: center;
  }
  .container-for-img img {
    width: 329px;
  }
  .second-title {
    display: none;
  }
}
@media (max-width: 767px) {
  .about-us {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-us ul {
    display: flex;
    height: 100%;
    gap: 17px;
    margin-left: calc(28%);
    @media (max-width: 590px) {
      margin-left: calc(6%);
    }
  }
  .container-for-img img {
    width: 100%;
  }
  .title-of-page {
    display: none;
  }
  .second-title {
    display: block;
    margin-bottom: 15px;
  }
}
